* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* DARK BACKGROUND APP */
body {
  background: #0f172a; /* dark navy */
  color: white;
}

/* AUTH PAGES */
.auth-page {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
}

/* FORM BOX */
.auth-box {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

/* INPUTS */
.auth-box input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 1px solid #374151;
  border-radius: 6px;
  background: #111827;
  color: white;
}

/* BUTTON */
.auth-box button {
  margin-top: 20px;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FLOATING CARD */
.floating-card {
  background: #1f2937;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  color: white;
}
